{% extends "index.html" %}

{% block richembed %}
<meta content="{{ config.title }} - {{ config.description }}" property="og:site_name">
<meta content="{{ config.title }} - {{ config.base_url }}" property="og:title" />
<meta content="404 Not Found" property="og:description" />
{% if config.extra.use_render %}
<meta content="./404.png" property="og:image" />
<meta content="1200" property="og:image:width" />
<meta content="600" property="og:image:height" />
<meta content="404 Not Found" property="og:image:alt" />
{% endif %}

{% if config.extra.use_render %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image-src" content="./404.png"  />
{% else %} 
<meta name="twitter:card" content="summary">
<meta name="twitter:image-src" content="{{ config.extra.logo }}"  />
{% endif %}
{% if config.twitter %} 
<meta name="twitter:site" content="@{{ config.twitter }}" />
{% endif %} 
<meta name="twitter:title" content="{{ config.title }} - {{ config.base_url }}" />
<meta name="og:description" content="404 Not Found" />

{% endblock richembed %}

{% block content %}
<main>
    <h4 class="notfound">404: Whatever brought you here was not found.</h4>
    <h1 class="notfound">Welcome to the NIS(National Intelligence Service of the Republic of Korea) recruitment center!</h1>
    <h2 class="notfound">You have found the secret page to become one of our agents!</h2>
    <h2 class="notfound">Please stand by as we trace your IP and find your address.</h2>
    <h2 class="notfound">A government pickup truck will be sent to your address soon.</h2>
    <h2 class="notfound">After a short ride to the NIS HQ in Naegok-dong, Seocho District, Seoul, you will be put on a plane and dropped into North Korea.</h2>
    <h2 class="notfound">t̸̖̲̞̀̓̾̋ͅͅẖ̵͇̞̰̫͇͔̥̹̠͙̣̼̂̾͜e̶̙̞̩͉͑̀̈́̾͛̅͒͜r̴̢̛̰͚̭͇̼̬͓̦̼̘͍̳͐̆̏͗͌̎͘̕͘͜͠͝ē̵̖̖͓̙̤̱̘̩̙͔̉̂̽̀̆̇̕̕ ̷̨̦͖̖̘̝͎̂̂̚ͅi̸͙̪̮̥͌́̀̂͗̏͋̂͘̕͜ś̶̛͙̯̽̔̌͌̽͆̉̃̊͘͠͠ ̵̖̻̹͊̅̏͗̚͜n̴̨̨̗̲̦͙̼̤̖̼͎̟̙̑͗͂̈̾̈́͆̌̽͂o̶̰̗̳̹͕͙͋̉̀͊́̌̍͗̔͒̑͠͠͝ ̶̟̬̪̖̱̈́͂̈́̓̓͠e̵͎̯͍̜̣͑̆̉͑̈́͋͛̃̍̓̚͝s̷̙̙͉̬͔͚̩͎̏͗c̸̥̟̺̦̅͂́͒́̏͘ȧ̴̤̝͇̙̲̤̗͔̲̻̬́͊̈́̀̂̈́́̎̕p̸̛̲̠̰͎͇̲̬̩͎̂̍͊̏͋̌͆͋̄͋̊̉͘͝ͅe̶̢̢̲͎̥̜͕͍̭͋͒͜ͅ ̸̼̺̹̭͎̈́́̆f̶̢̧̘̞̝̣̼͙̹͈̝͓̮̖͙̋̏̓̒͌͂̑̈̕̕͠ơ̸̡̢͎̗̝̜̪̜̰̲̯̱͙̍̇͐̆̄͆̓̒͌r̸̨͍͎͛͒̊̃́̓̀̊̎͊͝ ̶̡̰̐͛̐̽͒͋̚ȳ̵̜̎̔̆͒o̸̧̯̙̪͑̽̓̚u̷̡͓̲̗̰̳͓̩̜͖̪͉̼͒͆̋̔̌͒̀͗̈̚͘͝͠ ̵̡̹̙̳͛̐͑̓͆̇͒͗̌̓̍̈̃͠͠ņ̵͉̙̹͔͔̽͒͌̈́͆ͅo̸̰̬̻̜̪͙̺̬̙̼̬̣̠̔̒̾̒̿͊͠ẅ̷͍̌,̸̡̧̥̞̖̘͓̰̻̲̣̪̀̏͋͌̊̕͠ͅ ̴̧̡̨̖̜͚̣͈̯̟̪̗̔̎̆͛͐̈́y̸̢̟̟̭̠̟̳̱͕̞̭͈̭̑͊̊̈́͑̈́̈̏͒̈́͘͠ͅơ̴̧̙̝̗̝͓̫͕̜̻̱̬̯̠̹̈́͗̆̊́̎͂̓̾̕͠ữ̸̢̼͔͙͚̖̺͔̘̱̱̋̂̚͝r̸̳̈́͋ ̸̧̛͉̤͉̝̻̫͍̞͉̮̳̙̀̒̓̌̍̆͂͜͝f̴̢̨̛͎̥͍̜̒̌ā̸̩̀͗̈́̔̽̒͗̑̑͂̄̆̚͠ẗ̸̢̝͈̗̦͖͇̬̹͚̫͖̊̔̓̒̇͊̓͘̚̕͠e̶̻̞̞̖̓͋̐́͊̈́͝ ̸͍͖̪̝̍̉̐̐̓͋͊̈́̆̚͜͠͝͠į̴̙͚̼̥́̌̉͂̈́͒̚s̸̨̨̢͚̗͙̟̣̫͉̠̽ ̴̙̏̈́͌̐̅̿̅͋̔͊̈́͒̊͋̕s̵̡̢̝̮̲͓͈̟̦̺̞̜̿̉̇͌͐̄e̸̢̬̠̭͓̺̭̳̿̌͛͜a̴̛̻̩̲͙̗̰͉̲̣̗͙̥̟̺̻͐̍̇̄͒̎̒̃̍̐̀̈͘̕l̶̛̫̙̞̟̝̥̜̹̺͐̑̈́̋̈̊̚e̷̢̛̖̜͕̬̭̩̘̍̒͂̍̽̽̎̆̐̆ḑ̴̛̘͇̤̜̳͙̺͙͛̑̑́͑͒̆̇̕͘ͅͅ</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">ţ̶͍̖̫̯̬̥͕̣̜̲̒͐̔͊͗͒̑͜h̸̪͔̩̲̬̼͎̝̩̫͊̌̔e̵̢͈͚̠͇͇̹͓̖͇̾͌̾́̄͋̎̍̋̅̋̀́̚̕ ̶̢̜͎̱̪͕͎̜̝͚͗c̷͙͔̩̲̼̫̈͌̍͛̾͆͆̂̔̆͊̕̚a̵̡̝̱̦͕̠̮͕̼̅̽̆͌̈́̅͛͑͝͠ͅk̵̝̄̿͒̿̄̚̕͠ė̵̲̟̣͍͚͎̿̀̈͋̓̒̀̔̾́͘ͅ ̷̨͙͈̙̯̜̟̞̤̻̖́̔̄̅̀̇͊̓̕í̸̖͈͎̍̓̈́̂̆͑̚͠ş̷̡̡̖̖͍͐̋͗ ̶̛͓͚͉̩͓̻͈̝̜̦̙̗̓̎͂́͑̔a̵̲̘̥͈̭̝̒̍̄̽̏̊̐͒͝͝͝ ̸̯̰̝̩͖͓̻͙͓̫̱̬̥͆̑̀̂͘͜l̷̻̮͔͓̣͒̄̀ĭ̵͙̠̝͇͉̰̺̒̍̇͋̈́͗͘͝͝ȩ̷̝͙̱̄̀</h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">TRANS RIGHTS LGBTQ+ RIGHTS HUMAN RIGHTS POGPOGPOGPOG </h2>
    <h2 class="notfound">PEOPLE POWER PARTY OF KOREA IS FUCKING CRINGE AHHHHHHHHHHHHHHHHHHHHHH</h2>
    <h2 class="notfound">PEOPLE POWER PARTY OF KOREA IS FUCKING CRINGE AHHHHHHHHHHHHHHHHHHHHHH</h2>
    <h2 class="notfound">PEOPLE POWER PARTY OF KOREA IS FUCKING CRINGE AHHHHHHHHHHHHHHHHHHHHHH</h2>
    <h2 class="notfound">PEOPLE POWER PARTY OF KOREA IS FUCKING CRINGE AHHHHHHHHHHHHHHHHHHHHHH</h2>
    <h2 class="notfound">PEOPLE POWER PARTY OF KOREA IS FUCKING CRINGE AHHHHHHHHHHHHHHHHHHHHHH</h2>
    <h2 class="notfound">TAX THE CHURCH TAX THE CHURCH TAX THE LEECHES</h2>
    <h2 class="notfound">TAX THE CHURCH TAX THE CHURCH TAX THE LEECHES</h2>
    <h2 class="notfound">TAX THE CHURCH TAX THE CHURCH TAX THE LEECHES</h2>
    <h2 class="notfound">LEE JAE MYEUNG BASED MOON JAE IN CRINGE</h2>
    <h2 class="notfound">MOON YOU SPINELESS CUCK PASS THE EQUALITY ACT</h2>
    <h2 class="notfound">NATIONAL ASSEMBLY YOU SPINELESS CUCKS PASS THE EQUALITY ACT</h2>
    <h2 class="notfound">REPEAL THE NATIONAL SECURITY ACT</h2>
    <h2 class="notfound">REPEAL THE SHUTDOWN ACT</h2>
    <h2 class="notfound">MINISTERY OF GENDER EQUALITY AND FAMILY: EXPECTATION</h2>
    <h2 class="notfound">FIGHT FOR GENDER EQUALITY, LGBT RIGHTS, BE USEFUL</h2>
    <h2 class="notfound">MINISTERY OF GENDER EQUALITY AND FAMILY: REALITY</h2>
    <h2 class="notfound">SHUTDOWN ACT, KOREA IS MOST SEXIST COUNTRY IN OCED, LGBT RIGHTS? LMAOOOOOOOO WHAT ARE THOSE, FUCKING USELESS AS SHIT</h2>
    <h2 class="notfound">DA DA DA DA TENSHI TEHNSIWHOI HWOIAJF OIWAJOIFJWAOIFJWAOIFJ OWIAJ FDOIWA J DOIWAJ OIjAWIODJWAOIDJOIAWJRFOIWAJFIOWAHBTYGIUEGSAHIUFHASOIFH IOUWAH FIUAWGHFGIUYHWAGIU</h2>
    <h3 class="notfound">Disclaimer: l1n.pengtul.net has no relation or association to the NIS or any other government agency.</h3>
</main>
{% endblock content %}
