{% extends "index.html" %}

{% block richembed %}
<meta content="{{ config.title }} - {{ config.description }}" property="og:site_name">
<meta content="{{ page.title }} - {{ config.base_url }}" property="og:title" />
{% if page.extra.summary %}
<meta name="twitter:description" content="{{ page.extra.summary }}" />
<meta content="{{ page.extra.summary }}" property="og:description" />
{% endif %}
{% if config.extra.use_render %}
<meta content="{{ config.base_url }}/{{ page.extra.link }}/{{ page.slug }}/index.jpg" property="og:image" />
<meta content="{{ config.base_url }}/{{ page.extra.link }}/{{ page.slug }}/index" property="og:url" />
<meta content="1200" property="og:image:width" />
<meta content="600" property="og:image:height" />
<meta content="{{ page.extra.summary }}" property="og:image:alt" />
{% endif %}

{% if config.extra.use_render %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image-src" content="{{ config.base_url }}/{{ page.extra.link }}/{{ page.slug }}/index.jpg"  />
{% else %} 
<meta name="twitter:card" content="summary">
<meta name="twitter:image-src" content="{{ config.extra.logo }}"  />
{% endif %}
{% if config.twitter %} 
<meta name="twitter:site" content="@{{ config.twitter }}" />
{% endif %} 
<meta name="twitter:title" content="{{ page.title }} - {{ config.base_url }}" />

{% endblock richembed %}


{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div itemprop="headline">
        <h1>{{ page.title }}</h1>
        <div class="border"></div>
        <div>
            <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="date" itemprop="datePublished">
                Written: {{ page.date | date(format="%d %b %Y") }}
            </time>
        </div>
        {% if page.updated %} 
        <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="date" itemprop="dateUpdated">
            Last Updated: {{ page.updated | date(format="%d %b %Y") }}
        </time>
        {% endif %}
    </div>
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}
